@media (min-width: 640px) {
    nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    #menuBtn {
        display: none;
    }

    #members.grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #members.list section img {
        width: 800px;
    }
}